#home {
    display: grid;
    margin: auto;
    background-color: rgb(78, 112, 92);
    grid-template-rows: 1fr 5fr 6fr 1fr 2fr;
    grid-template-areas: 
    'na na'
    'hd sc'
    'as as'
    'ft ft'
    'sg sg'
    ;
}

#art {
    display: grid;
    margin: auto;
    background-color: rgb(78, 112, 92);
    grid-template-rows: 1fr 5fr 6fr 1fr 2fr;
    grid-template-areas: 
    'na na'
    'hd hd'
    'as as'
    'ft ft'
    'sg sg'
    ;
}

#portfolio {
    display: grid;
    margin: auto;
    background-color: rgb(78, 112, 92);
    grid-template-rows: 1fr 5fr 6fr 1fr 2fr;
    grid-template-areas: 
    'na na'
    'hd hd'
    'as as'
    'ft ft'
    'sg sg'
    ;
}

#contact {
    display: grid;
    margin: auto;
    background-color: rgb(78, 112, 92);
    grid-template-rows: 1fr 5fr 6fr 1fr 2fr;
    grid-template-areas: 
    'na na'
    'hd hd'
    'as as'
    'ft ft'
    'sg sg'
    ;
}







nav {
grid-area: na;
display: flex;
flex-direction: row;
justify-content: space-around;
align-items: center;
height: 50px;

}

a {
  text-decoration: none;
  color: rgb(220, 255, 236);  
}

header {
    font-size:xxx-large;
    font-style: italic;
    grid-area: hd;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(127, 173, 146);
    width: 120%;
    height: 250px;
    border: solid 7px rgb(220, 255, 236);
    border-style:double;
}

header p {
    font-size: 14pt;
    font-style: normal;
    color: rgb(220, 255, 236);
    
}

section {
    grid-area: sc;
    width: 299px;
    height: 200px;
    border-radius: 100pt 100pt 0pt 0pt;
    border: solid 7px rgb(220, 255, 236);
    border-style: double;
}

#mig {
    height: 200px;
    border-radius: 100pt 100pt 0pt 0pt;
    display: grid;
}

aside {
    grid-area: as;
    display: flex;
    justify-content: center;
}

#ghibli {
    height: 357px;
}

footer {
    grid-area: ft;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#signatur {
    grid-area: sg;
    display: flex;
    justify-content: center;
    border: solid 3px black;
}